@font-face {
    font-family: yumfont;
    src: url(Branding-Semibold.woff);
}

@kolorkaZajebana: rgb(83, 168, 94);

body, html {
    padding: 0;
    margin: 0;
}

* {
    font-family: yumfont;
    color: @kolorkaZajebana;
}

body {
    overflow: hidden;
}

#cosiky {
    position: fixed;
    width: 100vw;
    height: 100vh;

    #mrcosik {
        width: 100%;
        text-align: right;
        margin-top: 2%;
        position: absolute;

        h1 {
            font-size: 10em;
            padding-right: 22%;
        }
    }

    #nasratMenu {
        position: absolute;
        bottom: 4%;
        font-size: 3em;
        left: 2%;

        ul {
            list-style-type: none;

            li {
                cursor: pointer;
                padding-top: .2em;
                &:hover {
                    text-decoration: underline;
                }

                &:last-child {
                    padding-top: 1em;
                }
            }
        }
    }
}

#background_video {
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%);
}

#video_cover {

      position: absolute;
   
      width: 100%; height: 100%;

      background-size: cover;

      background-position: center;

    }

    #overlay {
       
          position: absolute;
 
          top: 0; right: 0; left: 0; bottom: 0;
     
          background: rgba(0,0,0,0.5);
     
        }
        
